.album-square{
	width: 670px;
	height: 300px;
	background-color: #DDD;
	background-image: url('https://loremflickr.com/g/670/300/paris');
	background-size: cover;
	background-position: center;
	font-family: Aria, sans-serif;
	color: #FFF;
	font-size: 60px;
}
.album-square .overlay{
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.album-square:hover .overlay{
	opacity: 1;
}